
h1 {
  
   text-align: center;
}
h2 {
  
    text-align: center;
 }
h3 {
  
    text-align: center;
 }
 


aside {
    display: block; 
    font-size: 12pt;
    text-align: center;
    background-color: rgb(222, 222, 222);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}



a, a:visited {
    color: rgb(143, 108, 108);
    
}

a:hover {
    color: rgb(156, 155, 68);
    text-decoration: none;
}

p {
    font-family: Tahoma, sans-serif;
    text-align: right;
    font-size: 10px;
}
td {
    border:1px;
    margin: 0 auto; 
    font-size: 20px;

}
